* {
    margin: 0;
}
.main_div {
    margin-top: 50px;
}
.top_div {
    text-align: center;
}
.layer_div {
    border: 1px solid grey;
}
.display_flex_style {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* input[type="file"] {
    display: none;
} */